@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
	@apply h-full overflow-hidden;
}
:root {
	--theme-font-family-base: 'Poppins', sans-serif;
	--theme-font-family-heading: 'Poppins', sans-serif;
}

.h3 {
	@apply tracking-wide;
}
